@import url("https://fonts.googleapis.com/css2?family=Akshar&display=swap");
// @font-face {
//   font-family: "Hiragino_Kaku_Gothic";
//   src: url("../fonts/Hiragino_Kaku_Gothic.otf") format("otf"),
//     url("../fonts/Hiragino_Kaku_Gothic.ttf") format("ttf"),
//     url("../fonts/Hiragino_Kaku_Gothic.woff") format("woff");
// }
// @font-face {
//   font-family: "Hiragino_Sans_GB";
//   src: url("../fonts/Hiragino_Sans_GB.woff2") format("woff2"),
//     url("../fonts/Hiragino_Sans_GB.otf") format("otf"),
//     url("../fonts/Hiragino_Sans_GB.ttf") format("ttf"),
//     url("../fonts/Hiragino_Sans_GB.woff") format("woff");
// }

// @font-face {
//   font-family: "icomoon";
//   src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.eot") format("eot"),
//     url("../fonts/icomoon.ttf") format("ttf");
// }

@font-face {
  font-family: "SF Pro Dispaly";
  src: url("../fonts/SF_Pro.woff2") format("woff2"), url("../fonts/SF_Pro.otf") format("otf"),
    url("../fonts/SF_Pro.ttf") format("ttf"), url("../fonts/SF_Pro.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Akshar&display=swap");

@font-face {
  font-family: "Hiragino Kaku Gothic Std W8";
  src: url("../fonts/HiraginoKakuGothicStdNW8.otf"), url("../fonts/HiraginoKakuGothicStdNW8.ttf"),
    url("../fonts/HiraginoKakuGothicStdNW8.woff");
}

@font-face {
  font-family: "Hiragino Sans GB W3";
  src: url("../fonts/HiraginoSansGBW3.otf"), url("../fonts/HiraginoSansGBW3.woff"),
    url("../fonts/HiraginoSansGBW3.woff2"), url("../fonts/HiraginoSansGBW3.ttf");
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.eot") format("eot"),
    url("../fonts/icomoon.ttf") format("ttf");
}

@font-face {
  font-family: "SF Pro Dispaly";
  src: url("../fonts/SFPRODISPLAYREGULAR.woff2"), url("../fonts/SFPRODISPLAYREGULAR.otf"),
    url("../fonts/SFPRODISPLAYREGULA.ttf"), url("../fonts/SFPRODISPLAYREGULAR.woff");
}
