// colors
$main_dark: #000;
$main_light: #fff;

$main_hover: #5865f2;
$link_bg: #d7d7d7;
$rdmp_frame_bg: #f8f8f8;
$rdmp_link_bg: #f6f6f6;
$ref_title: #818181;
$frame_title: #939393;
$frame_text: #414141;
$transparent: rgba(0, 0, 0, 0);

// fonts
$title_font: "Hiragino Kaku Gothic Std W8";
$text_font: "Hiragino Sans GB W3";
$subtext_font: "SF Pro Dispaly";
$menu_font: "Akshar";
